{% extends "forum.html" %}
{% load thread_extras %}
{% block forumcontent %}
   {% load bootstrap_tags %}
   {% for subject in subjects %}
       <section class="post-container">
           <h2><a href="{% url "threads" subject.id %}">{{ subject.name }}</a></h2>
           <p>{% autoescape off %}{{ subject.description }}{% endautoescape %}</p>
           <p>THREADS: {{ subject.threads.count }}</p>
           <p>POSTS: {{ subject|get_total_subject_posts }}</p>
       </section>
   {% endfor %}
{% endblock %}